.tableContainer{
	background: #fff;
 	border-radius: 2px;
 	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.towerTitle{
	background-color: #37474f;
	color: white;
	padding: 16px;
	border-radius: 100px;
	font-weight: bold;
	max-width: 200px;
	text-align: center;
	margin-bottom: 16px;
	margin-top: 16px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.tableBody{
	background-color: white;
	min-height: 36px;
}

.towerTitle .playPauseButton {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 100px;
	cursor: pointer;
}

.playPauseButton.running{
	background-image: url("../img/baseline-pause.svg");
	background-repeat: no-repeat;
  background-size: cover;

}

.playPauseButton.paused{
	background-image: url("../img/baseline-play_arrow.svg");
	background-repeat: no-repeat;
  background-size: cover;

}


.towerTitle .text{
	display: inline-block;
	height: 100%;
	font-size: 1.4em;
}

.tableContainer:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.listItem:nth-child(even){
	background-color:  #ecf0f1;
}
.listItem:nth-child(odd){
	background-color: white;
}
.listItem.outOfTime:nth-child(even){
	background-color: #e74c3c;
	color: white;
}
.listItem.outOfTime:nth-child(odd){
	background-color: #e3301c;
	color: white;
}
.listItem.outOfTime .deleteButton{
	content: url('../img/baseline-delete-white-24px.svg');
}
.wo{
	width: 15%;
	display: inline-block;
}

.pid{
	width: 10%;
	display: inline-block;
}

.desc{
	width: 29%;
	display: inline-block;
}

.time{
	width: 14%;
	display: inline-block;
}

.exitTime{
	width: 14%;
	display: inline-block;
}
.timer{
	width: 14%;
	display: inline-block;
}



@media screen and (max-width: 600px) {
	.towerTitle{
		font-size: 1em;
		padding: 10px;
		max-width: 160px;
	}

	.tableContainer{
		font-size: 0.5em;
	}

	.listItem .deleteButton{
		width: 10px;
		height: 10px;
	}

	.tableBody{
		background-color: white;
		min-height: 20px;
	}
}
